* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #6C382F;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.secao__formulario {
    background: #6B1D16;
    box-shadow: 2px 5px 2px 8px rgb(40 0 0 / 50%);
    border-radius: 25px;
    padding: 1.6rem 2.8rem 2rem 2.8rem;
}



