* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #6C382F;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.secao__formulario {
    background: #6B1D16;
    box-shadow: 2px 5px 2px 8px rgb(40 0 0 / 50%);
    border-radius: 25px;
    padding: 1.6rem 2.8rem 2rem 2.8rem;
}

.secao__formulario__titulo {
    font-size: 1.2rem;
    color: #F1BEBE;
    font-weight: 100;
    letter-spacing: 2px;
}

.secao__formulario__linha {
    background-color: #CD3A3A; 
    height: 1px;
    width: 100%;
    box-shadow: 2px 3px 5px #FD0000;
    margin: 0.5rem 0 0.5rem 0;
}

.secao__formulario__input-texto {
    background-color: #8F392B;
    border-radius: 15px;
    height: 3rem;
    padding-left: .5rem;
    color: #F6E4E4;
    outline: none;
    border: none;
}