* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #6C382F;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.secao__formulario {
    background: #6B1D16;
    box-shadow: 2px 5px 2px 8px rgb(40 0 0 / 50%);
    border-radius: 25px;
    padding: 1.6rem 2.8rem 2rem 2.8rem;
}

.secao__formulario__titulo {
    font-size: 1.2rem;
    color: #F1BEBE;
    font-weight: 100;
    letter-spacing: 2px;
}

.secao__formulario__linha {
    background-color: #ee1515; 
    height: 1px;
    width: 100%;
    box-shadow: 2px 3px 5px #FD0000;
    margin: 0.5rem 0 0.5rem 0;
}

.secao__formulario__input-texto {
    background-color: #8F392B;
    border-radius: 15px;
    height: 3rem;
    padding-left: .5rem;
    color: #F6E4E4;
    outline: none;
    border: none;
    margin: 0.7rem 0 0.7rem .35rem;
}

.secao__formulario__input-botao {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 15px;
    border: 1px solid #FD0000;
    color: #F1BEBE;
    box-shadow: 1px 1px 7px #fd0000;
    margin-right: .35rem;
    transition: all .5s;
}

.secao__formulario__input-botao:hover {
    cursor: pointer;
    background-color: #4E0704;
}

.secao__formulario__lista {
    list-style-type: none;
    height: 15rem;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a20000;
    border-radius: 50px;
  }

.secao__formulario__lista__item {
    background-color: #4E0704;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    border-radius: 15px;
    color: #F3B0B0;
    margin: 1rem 0 1rem 0;
}

.secao__formulario__lista__item__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao__formulario__lista__item__conteiner__botao-lixeira, .secao__formulario__lista__item__conteiner__botao-completo {
    background-color: transparent;
    outline: none;
    border: none;
    transition: all .5s;
}

.secao__formulario__lista__item__conteiner__botao-lixeira:hover,  .secao__formulario__lista__item__conteiner__botao-completo {
    cursor: pointer;
}

.secao__formulario-edicao {
    background-color: #53150F;
    box-shadow: 2px 5px 2px 8px rgba(40, 0, 0, 0.5);
    border-radius: 25px;
    padding: 1.6rem 2.8rem 2rem 2.8rem;
    display: flex;
    flex-direction: column;
}

.secao__formulario-edicao__conteiner-botao-fechar {
    display: flex;
    justify-content: end;
}

.secao__formulario-edicao__botao-fechar {
    background-color: #E90606;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #F1BEBE;
    font-weight: bold;
    margin-bottom: 2rem;
}

.secao__formulario-edicao__conteiner-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.secao__formulario-edicao__label {
    color: #F1BEBE;
    margin-right: 1rem;
    font-size: 18px;
}

.secao__formulario-edicao__input, .secao__formulario-edicao__conteiner, .secao__formulario-edicao__conteiner {
    background-color: #8F392B;
    border: none;
    border-radius: 15px;
    height: 3rem;
    padding-left: .5rem;
    color: #F6E4E4;
}

.secao__formulario-edicao__conteiner {
    padding-left: 2rem;
    padding-right: 9.5rem;
}

.secao__formulario-edicao__textarea {
    background-color: #8F392B;
    border: none;
    border-radius: 15px;
    height: 8rem;
    margin-top: 1rem;
    resize: none;
    padding: 1rem;
    color: #F6E4E4;;
}

.secao__formulario-edicao__botao {
    background-color: transparent;
    border: 1px solid #FD0000;
    box-shadow: 2px 3px 8px #FD0000;
    border-radius: 15px;
    height: 4rem;
    width: 7rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
    color: #F1BEBE;
    font-weight: bold;
    font-size: 18px;
}

